<!DOCTYPE html>
<html>
<head>
    <title>{{ test }}</title>
    <style>
        body { display: flex; font-family: Arial, sans-serif; }
        .left { width: 50%; padding: 20px; }
        .right { width: 50%; padding: 20px; text-align: center; }
        img { max-width: 100%; margin-bottom: 20px; }
    </style>
</head>
<body>
    <div class="left">
        <h1><p><p:pagelet title='test' /></p></h1>
        <p><p><p:pagelet title='test1' /></p></p>


    </div>
    <div class="right">
 
            <img src="<p:pagelet title='image1' />" width="200"><br><br>


    </div>
</body>
</html>
